body{
    text-align:left;
    font-family:Arial;
    color:black;
    font-size:16px;
    margin:0;
    padding:0;
}
#container{
    width:70%;
    padding:0;
    text-align:left;
    border:1px solid rgb(126, 126, 126);
    margin:0 auto;
}
#container h1{
    font-size:20px;
}
#cabecera{
    background: rgb(46, 37, 126);
    color:white;
    font-weight: bold;
    margin:0;
    padding:15px;
}
#footer{
    text-align:center;
    background-color: rgb(78, 78, 78);
    width:auto;
    color:white;
    padding:10px;

}